body{
    background-image: url(media1/bg1.png);   
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Karten Layout*/
.karte{
    display: block;
    position: relative;
}