html {
    height: 100%;
}

body {
    background-image: url("media1/bg1.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.containerKarte {
    position: relative;
    width: 600px;
    height: 400px;
    background: url(wrapperbg.png);
    }

.h1 {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    color: white;
    top: 20px;
    left: 130px;

}
.text{
    position: absolute;
    width: 300px;
    height: 150px;
    top: 120px;
    left: 130px;
}
.text p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}

.containerBusch{
    position: absolute;
    background: url(busch.png);
    width: 222px;
    height: 179px;
    top: -50px;
    left: -50px;     
}
.containerPinguin{
    position: absolute;
    background: url(pinguin.png);
    width: 144px;
    height: 193px;
    top: 200px;
    left: 500px;
}
