html {
    height: 100%;
}

body {
    background-image: url("media1/bg1.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.containerKarte {
    position: relative;
    width: 600px;
    height: 400px;
    background: url(wrapperbg.png);
    }
