html {
    height: 100%;
}

body {
    background-image: url("/Aufgabe4/Station1/media1/bg1.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.containerKarte {
    position: relative;
    width: 600px;
    height: 400px;
    background: url(wrapperbg.png);
    }

.containerBusch{
    position: absolute;
    background: url(busch.png);
    width: 222px;
    height: 179px;
    top: -50px;
    left: -50px;     
}

.containerGifts{
    position: absolute;
    background: url(gifts.png);
    width: 144px;
    height: 193px;
    top: 280px;
    left: 400px;
}

.tanneBrennt{
    position: absolute;
    background: url(fire.mp4);
    width: 250px;
    height: 350px;
    top: 25px;
    left: 320px;
}

.stern{
    position: absolute;
    background: url(stern.gif);
    top: 80px;
    left: 180px; 
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    color: white;
    top: 120px;
    left: 110px;
