html{height: 100%;
}

body{
    background-color: blue;
}

h1{
    text-align: center;
    font-family: Arial;
    color: white;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.Flexbox{
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul{
    padding-left: 0%;
}

.FlexSchrift{
    align-items: center;
    display: flex;
    position: relative;
    width: 500px;
    height: 100px;
}

.Task{
    padding: 10px;
    font-size: 20px;
    align-items: center;
    position: relative;
    display: flex;
    width: 480px;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid black;
}


.checkbox{
    color: rgb(37, 220, 20);
    left: -100%;
    border-radius: 20px;
    margin: 3%;
    transform: scale(2);
}

#myInput{
    width: 500px;
    height: 70px; 
    font-size: 20px;
    border-radius: 20px;
    align-items: center;
}

.trash{
    position: absolute;
    left: 90%;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.trash:hover {
    color: rgb(69, 68, 70);
}