html{height: 100%;
}

body{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}


  h1{
    color: white;
    position: relative;
    top: 0;
    font-size: 80px;

  
  
  }
  h2{
    position: relative;
    color: white;
   
  
  }
  .box1{
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    height: 400px;
    left: 50%;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    
  }
  .box2{
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    height: 600px;
    left: 50%;
    top: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  
  }
  
  #addNewTasks{
    position: relative;
    width: 514px;
    height: 60px;
    margin: 3px;
    font-size: medium;
    border-radius: 10px 10px;
    border: 2px solid black;
  }
  
  .element{
    position: relative;
    margin: 8px;
    background-color: white;
    width: 500px;
    height: 60px;
    border-radius: 10px;
    list-style: none;
    padding-left: 10%;
    padding-top: 5%;
    cursor: pointer;
    font-size: 20px;
    left: -20px;
    
  }
  .element.checked::before {
    content: '';
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  
  .fa-trash-alt{
    position: absolute;
    right: 5%;
    top: 40%;
    font-size: 20px;
    color: #2d4a3c;
    height: 10px;
    width: 10px;
  
  }
  .fa-check{
    position: absolute;
    color: black;
    left: 5%;
    font-size: 20px;
    padding-right: 20px;
    top: 40%;
    
  }
  .hidden{
    visibility: hidden;
  
  }
  .fa-circle{
    position: absolute;
    left: 5%;
    top: 35%;
    color: #7a814f;
    height: 20px;
    width: 20px;
  
  }