body {font-family: sans-serif;
    background-image: url("./medienwp/bg.png")    
}
header {font-family: sans-serif;}

.kreis {
    background: rgb(182, 39, 39);
    border-radius: 50%;
    height: 1000px;
    width: 1000px;
     margin-top: -650px;
     display: block;
     margin-left: 500px;
     opacity: 70%;
 }
 
 .kreistext .untertext{
    color: white;
    font-size: 150%;
    text-align: left;
    width: 300px;
    margin-left: 380px;
    margin-right: auto;
}

.navbar2 {
    top: 100%;
    margin-top:14px;
    text-align: center;
    opacity: 0.5;
    }

.navbar2:hover {
    opacity: 100%;
}

h1 {
    color: rgb(255, 255, 255);
    margin-top: 70px;
    text-align: center;
    padding-top: 700px;
    font-size: 90px;
}

.sizeposition {
    margin-left: 600px;
    text-align: center;
    width: 800px;
    height: auto;
}
    