html{
    height: 100%;
}

body{
    background-color: #060607;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}
.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container div{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    cursor: pointer;
}

.sound1, .sound2, .sound3, .sound4{
    background-color: #e84ac6;
}

.sound5, .sound6, .sound9{
    background-color: #a8fec9;
}

.sound7, .sound8{
    background-color: #ffe77c;
}

.buttons{
    display: flex;
    height: 100px;
    position: relative;
    cursor: pointer;

}
.fa-play {
    color: #ffffee;
    position: absolute;
    left:0;
    height: 0;   
}

.fas{
    margin: 15px;
    color: #0e54a5;
    font-size: 40px;
}


.fa-pause{
    color: lightcoral;
    position: absolute;
    left: 0;
    height: 0;   
}


.active{
    color: #ffffee;
}

.inactive{
    visibility: hidden;}