html{
    height: 100%;
}

body{
    background-color: #060607;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container div{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    cursor: pointer;
}

.sound1, .sound2, .sound3, .sound4{
    background-color: #e84ac6;
}

.sound5, .sound6, .sound9{
    background-color: #a8fec9;
}

.sound7, .sound8{
    background-color: #ffe77c;
}

.buttons{
    display: flex;
    height: 100px;
    position: relative;

}
.fa-play {
    color: lightcoral;
    position: absolute;
    left:0;
    height: 0;   
}

.fas{
    margin: 15px;
    color: #3f4e45;
    font-size: 40px;
}


.fa-pause{
    color: lightcoral;
    position: absolute;
    left:0;
    height: 0;   
}


.active{
    color: rgba(84, 35, 83, 0.322);
}

.inactive{
    visibility: hidden;}