html {
    height: 100%;
}

body {
    background-image: url("media5/bg5.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.containerKarte {
    position: relative;
    width: 600px;
    height: 400px;
    background: url(wrapperbg5.png);
    }